@import "./variables.scss";
.modal {
    display: none;
    position: fixed;
    background-color: $color-primary-font;
    z-index: 1;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 500px;
    min-width: 280px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    @media screen and (min-width: 900px) {
        top: 20px;
        height: 80%;
        left: 50%;
        margin-left: -200px;
    }
}
.modal-content {
    display: flex;
    flex-direction: column;
    width: 90%;
}
form {
    display: flex;
    flex-direction: column;
}
.modalTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalText {
    color: black;
    font-weight: 400;
}
.modalName {
    font-size: 2rem;
    font-weight: 400;
}
input {
    height: 40px;
}
#message{
    height: 100px;
}
.miss {
    color: black;
    text-align: right;
    font-size: 0.8rem;
}
.close {
    position: absolute;
    top: 18%;
    right: 5%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    background-color: $color-primary-font;
    border: none;
    @media screen and (min-width: 900px) {
        top: 13.5%;
    }
}
#btnValidate {
    margin-top: 50px;
}