@import "./variables.scss";
body{
    font-family : 'DM Sans', sans-serif ;
}
header {
    height: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.infoPhotograph {
    display: flex;
    margin: auto;
}
.info {
    display: flex;
    width: 35%;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}
.contact , #btnValidate {
    width: 170px;
    height: 69px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color-secondary-4-font;
    color: white;
    cursor: pointer;
}
#portrait {
    width: 200px;
    height: 200px;
    margin: auto 10% auto auto;
    border-radius: 50%;
    object-fit: cover;
    text-align: right;
}
h1 {
    font-size: 3rem;
    color: $color-primary-font;
    margin: 0px;
}
//----------------------------Filtre de recherche-----------------------------------------
.filter {
    display: flex;
    justify-content: left;
    align-items: center;
}
#btnFilter {
    margin: 0px 20px;
    cursor: pointer;
    
}
#btnFilter a {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: $color-secondary-4-font;
    width: 170px;
    height: 59px;
    border-bottom: solid white 1px;
}
#popular {
    border-radius: 5px;
}
#iconMenu {
    background: url(../Images/arrow.svg) no-repeat;
    width: 40px;
    height: 20%;
}
.deroulant:active, .deroulant:focus {
    position: relative;
    .sous{
        display: block;
    }
    #titre {
        border-radius: 0px 0px 5px 5px ;
    }
    #popular {
        border-radius: 5px 5px  0px 0px;
    } 
    #iconMenu {
        background: url(../Images/arrow_black.svg) no-repeat;
        transform: rotate(180deg) translate(25px);
    }
}
#iconMenu:active, #iconMenu:focus             {
    background: url(../Images/arrow_black.svg) no-repeat;
    transform: rotate(180deg) translate(25px);
}
#btnFilter a:active , #btnFilter a:focus{
    color: black;
    background-color: $color-primary-font;
}
.sous {
    display: none;
    position: absolute;
    top: 44px;
}
.info a {
    text-decoration: none;
    color: $color-secondary-4-font;
    height: 24px;
    margin: 5px;
    padding: 5px;
    border: solid 0.1px rgb(190, 190, 190) ;
    border-radius: 20px;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: left;
    padding-left: 0px;
}

#localisation, #tags, #nav {
    font-weight: bold;
    color: $color-secondary-4-font;
}
#tagline {
    font-weight: bold;
}
//------------------------------------------Partie Médias------------------------------------------------
#container {
    width: 95%;
    margin: auto;
    text-align: center;
}
.medias img ,video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}
.infoMedias{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    justify-content: space-between;
    font-weight: bold;
    color: $color-secondary-4-font;
    
}
.likeSection {
    display: flex;
}
.iconLike {
    border: none;
    color: $color-secondary-4-font;
    font-size: 1.2rem;
}

#containerMedias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    display: flex;
    justify-content: space-between;
}
#price {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    border-radius: 5px;
    float: right;
    width: 376px;
    height: 69px;
    background-color: $color-primary-font;
    color: white;
}
i {
    margin-left: 10px;
}


 