@import "./variables.scss";

body{
    font-family : 'DM Sans', sans-serif ;
    font-weight: 400;
    max-width: 100%;
    margin: auto;
}
li {
    list-style: none;
}
header {
    height: 100px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
#mainWrapper {
    max-width: 95%;
}
#container  {
    width: 95%;
    margin: auto;  
}
.infoPhotograph {
    display: flex;
    max-width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
}
#portrait {
    width: 100px;
    height: 100px;;
    border-radius: 50%;
    object-fit: cover;
    text-align: right;
}
h1 {
    font-size: 2rem;
    color: $color-primary-font;
    margin: 0px;
}
#localisation, #tags, #nav {
    color: $color-secondary-4-font;
}
#tags, #nav {
    font-weight: 500;
}
#tagline {
    color: #757575;
}
#localisation, #tagline {
    margin: 5px 0px;
}
.tagsLinkElement {
    text-decoration: none;
    color: $color-secondary-4-font;
    height: 22px;
    margin: 5px;
    padding: 2px 8px;
    border: solid 0.1px rgb(190, 190, 190) ;
    border-radius: 20px;
}
.info li {
    margin: 4px 0px;
}
.info ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    padding-left: 0px;
    margin: 5px 0px 20px 0px;
}
// -------------------Formulaire de contact-----------------------------
#btnContact {
    position: fixed;
    bottom: 75px;
    left: 25%;
}
.contact , #btnValidate {
    width: 50%;
    height: 49px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color-secondary-4-font;
    color: white;
    cursor: pointer;
}

//----------------------------Filtre de recherche-----------------------------------------
.filter {
    display: flex;
    justify-content: left;
    align-items: center;
}
.filter label {
    font-weight: 700;
    font-size: 1.1rem;
}
#btnFilter {
    margin: 0px 20px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 59px;
    background-color: $color-secondary-4-font;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
#btnFilter a {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    text-decoration: none;
    border-bottom: solid white 1px;
}
#btnFilter option {
    width: 170px;
    height: 59px;
}

#iconMenu {
    background: url(../Images/arrow.svg) no-repeat;
    width: 40px;
    height: 20%;
}

#btnFilter a:active , #btnFilter a:focus{
    color: black;
    background-color: $color-primary-font;
}

//------------------------------------------Partie Médias------------------------------------------------

#containerMedias {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.medias li{
    width: 250px;
    margin: 5px 10px;
    border-radius: 5px;
}
.medias img , .medias video {
    width: 250px;
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 20%;
}
.infoMedias{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    justify-content: space-between;
    font-weight: bold;
    color: $color-secondary-4-font;
    
}
.likeSection {
    display: flex;
}
.iconLike {
    border: none;
    color: $color-secondary-4-font;
    font-size: 1.2rem;
}
figcaption{
    display: flex;
    justify-content: space-between;
}
#price {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    border-radius: 5px;
    float: right;
    width: 100%;
    max-width: 350px;
    height: 69px;
    background-color: $color-primary-font;
    color: black;
}
i {
    margin-left: 10px;
}


 