/*Variables*/
body {
  font-family: 'DM Sans', sans-serif;
}

header {
  height: 100px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoPhotograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.contact, #btnValidate {
  width: 170px;
  height: 69px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}

#portrait {
  width: 200px;
  height: 200px;
  margin: auto 10% auto auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: right;
}

h1 {
  font-size: 3rem;
  color: #D3573C;
  margin: 0px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btnFilter {
  margin: 0px 20px;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 170px;
  height: 59px;
  background-color: #901C1C;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#btnFilter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: solid white 1px;
}

#btnFilter option {
  width: 170px;
  height: 59px;
}

#iconMenu {
  background: url(../Images/arrow.svg) no-repeat;
  width: 40px;
  height: 20%;
}

#btnFilter a:active, #btnFilter a:focus {
  color: black;
  background-color: #D3573C;
}

.tagsLinkElement {
  text-decoration: none;
  color: #901C1C;
  height: 24px;
  margin: 5px;
  padding: 5px;
  border: solid 0.1px #bebebe;
  border-radius: 20px;
}

li {
  list-style: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 0px;
}

#localisation, #tags, #nav {
  font-weight: bold;
  color: #901C1C;
}

#tagline {
  font-weight: bold;
}

#container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.medias img, video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

.infoMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  color: #901C1C;
}

.likeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconLike {
  border: none;
  color: #901C1C;
  font-size: 1.2rem;
}

#containerMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#price {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  border-radius: 5px;
  float: right;
  width: 376px;
  height: 69px;
  background-color: #D3573C;
  color: black;
}

i {
  margin-left: 10px;
}
/*# sourceMappingURL=photographePage.css.map */