/*Variables*/
/*Variables*/
.modal {
  display: none;
  position: fixed;
  background-color: #D3573C;
  z-index: 1;
  top: 0px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  min-width: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 900px) {
  .modal {
    top: 20px;
    height: 80%;
    left: 50%;
    margin-left: -200px;
  }
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalText {
  color: black;
  font-weight: 400;
}

.modalName {
  font-size: 2rem;
  font-weight: 400;
}

input {
  height: 40px;
}

#message {
  height: 100px;
}

.miss {
  color: black;
  text-align: right;
  font-size: 0.8rem;
}

.close {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

#btnValidate {
  margin-top: 50px;
}

/*Variables*/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.lightbox__fadeOut {
  opacity: 0;
}

.lightbox__next {
  background: url(../Images/arrow-right.svg) center center/32px 56px no-repeat;
  right: 0;
  height: 100%;
}

.lightbox__prev {
  background: url(../Images/arrow-left.svg) center center/32px 56px no-repeat;
  left: 0;
  height: 100%;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  width: 10%;
  position: fixed;
  top: 0%;
  margin-top: -14px;
  z-index: 11;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.lightbox__next:hover,
.lightbox__prev:hover {
  opacity: 1;
}

.lightbox__close {
  background: url(../Images/close.svg) center center/28px 28px no-repeat;
  border: none;
  width: 10%;
  height: 10%;
  position: fixed;
  top: 0px;
  right: 0;
  opacity: .5;
  z-index: 12;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.lightbox__close:hover {
  opacity: 1;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
  height: 90vh;
  max-width: 80%;
}

.lightbox__container img {
  max-width: 100%;
  max-height: 90vh;
}

.lightbox__container video {
  max-width: 100%;
  max-height: 90vh;
}

.lightbox__container p {
  color: #901C1C;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  max-width: 100%;
  margin: auto;
}

li {
  list-style: none;
}

header {
  height: 100px;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  width: 95%;
  margin: auto;
}

.infoPhotograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  max-width: 50%;
}

#portrait {
  width: 120px;
  height: 120px;
  margin-right: 10%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: right;
}

@media screen and (min-width: 900px) {
  #portrait {
    width: 200px;
    height: 200px;
  }
}

h1 {
  font-size: 2rem;
  color: #D3573C;
  margin: 0px;
}

#localisation, #tags, #nav {
  color: #901C1C;
}

#tags, #nav {
  font-weight: 500;
}

#tagline {
  color: #757575;
}

#localisation, #tagline {
  margin: 5px 0px;
}

.tagsLinkElement {
  text-decoration: none;
  color: #901C1C;
  font-weight: 500;
  height: 22px;
  margin: 5px;
  padding: 2px 8px;
  border: solid 0.1px #bebebe;
  border-radius: 20px;
}

.tagsLinkElement:focus, .tagsLinkElement:hover {
  background-color: #901C1C;
  color: white;
}

.info li {
  margin: 4px 0px;
}

.info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 200px;
  padding-left: 0px;
  margin: 5px 0px 20px 0px;
}

#btnContact {
  position: fixed;
  bottom: 75px;
  left: 50%;
  margin-left: -90px;
}

@media screen and (min-width: 900px) {
  #btnContact {
    position: relative;
    top: 0px;
    left: -10px;
  }
}

.contact, #btnValidate {
  width: 50%;
  max-width: 170px;
  height: 49px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}

.filter {
  display: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filter label {
  font-weight: 700;
  font-size: 1.1rem;
}

#btnFilter {
  margin: 0px 20px;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 170px;
  height: 59px;
  background-color: #901C1C;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#btnFilter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: solid white 1px;
}

#btnFilter option {
  width: 170px;
  height: 59px;
}

#iconMenu {
  background: url(../Images/arrow.svg) no-repeat;
  width: 40px;
  height: 20%;
}

#btnFilter a:active, #btnFilter a:focus {
  color: black;
  background-color: #D3573C;
}

#containerMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.medias li {
  width: 270px;
  margin: 5px 10px;
  border-radius: 5px;
}

@media screen and (min-width: 370px) {
  .medias li {
    width: 330px;
  }
}

@media screen and (min-width: 420px) {
  .medias li {
    width: 350px;
  }
}

.medias img, .medias video {
  width: 270px;
  height: 190px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

@media screen and (min-width: 370px) {
  .medias img, .medias video {
    width: 330px;
  }
}

@media screen and (min-width: 420px) {
  .medias img, .medias video {
    width: 350px;
  }
}

.infoMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901C1C;
}

.likeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likesCount {
  font-weight: 500;
}

.iconLike {
  border: none;
  color: #901C1C;
  background-color: white;
  font-size: 1.2rem;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#price {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  right: 37px;
  margin-top: 20px;
  border-radius: 5px;
  float: right;
  width: 100%;
  max-width: 350px;
  height: 69px;
  background-color: #D3573C;
  color: black;
}

@media screen and (min-width: 900px) {
  #price {
    position: -webkit-sticky;
    position: sticky;
  }
}

i {
  margin-left: 10px;
}
/*# sourceMappingURL=photographePage.css.map */