@import "./variables.scss";

h1{
    width: 20%;
    float: right;
    margin-top: -50px;
    color: $color-secondary-4-font;
}
a {
    text-decoration: none;
    color: $color-primary-font;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: space-evenly;
    
}
header {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
#container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
article {
    text-align: center;
    width: 300px;
    height: 450px;
    margin: 20px 100px 20px 100px;
}
#portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#localisation, #tags, #nav {
    font-weight: bold;
    color: $color-secondary-4-font;
}
#tagline {
    font-weight: bold;
}